<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Calculator</h1>

    <!-- Add this to display messages -->
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" style="padding: 10px; margin: 10px 0; border-radius: 5px;">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label for="name">Enter Your Name : </label>
        <input type="text" name="name" id="name" placeholder="Enter Your Name"><br><br>
        <label for="num1">Enter 1st Number</label>
        <input type="number" name="num1" id="num1" placeholder="Enter 1st Number"> <br><br>
        <label for="num2">Enter 2nd Number</label>
        <input type="number" name="num2" id="num2" placeholder="Enter 2nd Number"><br><br>

        <button type="submit">Submit</button> <br><br>
    </form>



    <h1>Your Calculations</h1>

    {% for cal in calculations %}
    <p><b>{{cal.name}}</b> : {{cal.num1}} + {{cal.num2}} = {{cal.total}}

    <a href="{% url 'edit' cal.id %}" style="color: blue; text-decoration: none; margin-left: 10px;">
        [Edit]
    </a>

    <a href="{% url 'delete' cal.id %}" style="color: red; text-decoration: none; margin-left: 10px;">
        [Delete]
    </a>
    </p>
    {% empty %}
    <p>No Records</p>
    {% endfor %}

</body>

</html>