<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello From Django</h1>

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="name" id="">
        <input type="number" name="num1" id="">
        <input type="number" name="num2" id="">
        <button type="submit">Add</button>
    </form>
    {% if result %}
    <h1>Answer : {{name}} Sum = {{result}}</h1>
    {% endif %}

    <h1>All Values</h1>

    {% for r in all_values %}
    <h3>{{ r.name }} → {{ r.num1 }} + {{ r.num2 }} = {{ r.result }}

        <a href="{% url 'update_view' r.id %}">Edit</a>

        <form method="POST" action="{% url 'delete_view' r.id %}">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>

    </h3>

    {% empty %}
    <h3>No Data</h3>
    {% endfor %}

    {% if messages %}
    {% for message in messages %}
    <p style="color: green;">{{ message }}</p>
    {% endfor %}
    {% endif %}


</body>

</html>