<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Values</h1>
    <form method="POST">
        {% csrf_token %}

        <input type="text" name="name" value="{{value.name}}">
        <input type="number" name="num1" value="{{value.num1}}">
        <input type="number" name="num2" value="{{value.num2}}">

        <button type="submit">Update</button>
    </form>
</body>
</html>